<!DOCTYPE html>
<html>

<head>
    <title> Dynamic Form Creation</title>
    <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script type="text/javascript" src="node_modules/x2js/x2js.js"></script>
    <script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="main.js"></script>
</head>

<body ng-app="my-app">
    <div class="container" ng-controller="cntrl">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3>file.xml</h3>
            </div>
            <div class="col-md-4" ng-repeat="field in listOfFormFields">
                <div class="form-group">
                    <label for="{{field}}">{{field | separate}}</label>
                    <input type="text" class="form-control" id="{{field}}" ng-model="propertify('fileData' + field )" ng-model-options="{ getterSetter: true }">
                </div>
            </div>
        </div>
    </div>
</body>

</html>
